<h2>Post Search Results</h2>
<%= render 'posts/post_search', results: @results_post %>

<h2>User Search Results</h2>
<%= render 'users/user_search', results: @results_user %>

<h2>Map Search Results</h2>
<%= render 'maop/map_search', results: @results_map %>
