<% @posts.each do |post| %>
  <li class="list-group-item">
    <% post.maps.each do |map| %>
      <%= link_to "javascript:void(0)", onclick: "centerMap(#{map.latitude}, #{map.longitude})" do %>
        <img src="<%= post.snap.url %>" alt="<%= post.body %>" style="width: 50px; height: 50px;">
      <% end %>
      <div>
        <strong>
          <%= post.body %>
         <p>Likes: 10 | Comments: 5</p>
        </strong>
      </div>
    <% end %>
  </li>
<% end %>
