<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#" data-content="profile">profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#" data-content="spot">Spot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-content="post">Post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-content="likes">Likes</a>
  </li>
</ul>