<style>
  .nav-link.text-gray {
    color: gray !important;
  }
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-light">
      <ul class="nav flex-row justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-gray" href="#" data-content="profile">
            <i class="fas fa-user"></i> Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-gray" href="#" data-content="spot">
            <i class="fas fa-map-marker-alt"></i> Spot
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-gray" href="#" data-content="post">
            <i class="fas fa-pen"></i> Post
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-gray" href="#" data-content="likes">
            <i class="fas fa-thumbs-up"></i> Likes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-gray" href="#" data-content="follow">
            <i class="fas fa-users"></i> Follow
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>